<!DOCTYPE html>
<html>
	<head data-th-replace="parts/head :: cabecera(~{::title}, _)">
		<meta charset="UTF-8">
		<title>Nuevo curso</title>
	</head>
<body class="bg-light">
	<nav data-th-replace="parts/menu :: menu"></nav>
	<main class="container"><br/>
		<h1 class="border-bottom pb-2 mb-0"> Formulario de Nuevo Curso</h1>
		<div class="my-3 p-3 bg-body rounded shadow-sm">
			<form data-th-action="@{/admin/nuevocurso}" data-th-object="${curso}" enctype="multipart/form-data" method="POST">
				<label class="form-label"> Nombre:</label> 
					<input class="form-control" type="text" data-th-field="*{nombre}" />	
					
				<label class="form-label"> Fecha inicio: </label> 
					<input class="form-control" type="date" data-th-field="*{fechaInicio}" />
					
				<label class="form-label"> Fecha termino: </label> 
					<input class="form-control" type="date" data-th-field="*{fechaFin}" />
				
				<label class="form-label"> Cupos: </label> 
					<input class="form-control" type="text" data-th-field="*{cupos}" />
					
				<label class="form-label">Imagen:</label>
					<input class="form-control" type="file" id="image-file" name="image" accept="image/jpeg, image/png" />
					
				<label class="form-label"> Descripcion: </label> 
					<textarea class="form-control" data-th-field="*{descripcion}" rows="10" cols="10"></textarea>
				
					<br/>
						
				<input type="hidden" data-th-field="*{id}" />
				<button class="btn btn-primary" type="submit">Guardar</button> 	<a class="btn btn-danger" data-th-href="@{/}">Volver</a>
			</form>
		</div>

	</main>
	
	
	<div data-th-replace="parts/scripts :: scripts"></div>
	
</body>
</html>